
<style>
table.card {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
    -webkit-backface-visibility:visible;
    border-radius: 0px;
    width: 8.5in;
    margin: 20px;

}
.card td {
	border: 1px solid black;
	padding: 5px;
}
.title-row {
	background: #3b7bff;
	color: white;
	font-size: 18pt;
	font-weight: bold;
	font-family: Arial;
	word-wrap: none;
}
.barcode-td {
	text-align: right;
}
td.first-col {
	width: 100px;
}
</style>
<table class="card">
	<tr class="title-row">
		<td colspan="2" >{{partno}}</td>
	</tr>
	<tr>
		<td class="first-col">Description</td><td>{{description}}</td>
	</tr>
	<tr>
		<td>Batch Quantity</td><td>{{batch}}</td>
	</tr>
	<tr>
		<td></td>
		<td class="barcode-td"><img height="220px" src="{% url 'make_barcode' partno %}"></td>
	</tr>
</table>
