{% extends 'kanbanbomsapp/base.html' %}

{% block content %}

<div class="content-wrapper pr-buttons ">

<form action="{% url 'make_card' %}" style="max-width: 700px" method="post">
  {% csrf_token %}
  <h1 class="mb-4">Make Internal Card</h1>
  <div class="form-group row" >
    <label for="partno1" class="col-sm-2 col-form-label">Part Number</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="partno1" value="{{ partno }}" placeholder="99999-XX-999">
    </div>
  </div>
  <div class="form-group row">
    <label for="description1" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="description1" value="{{ description }}" placeholder="Enter Description">
    </div>
  </div>
  <div class="form-group row">
    <label for="batch1" class="col-sm-2 col-form-label">Batch Quantity</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" name="batch1" value="{{ batch }}" placeholder="Enter Quantity">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Draw Card</button>
  <button type="button" onclick="window.print();" value="Print" form="print_form" class="btn btn-primary">Print</button>
</form>

</div>

<iframe frameborder="0" allowtransparency="true" scrolling="no" src="{% url 'render_card' %}?p={{ partno }}&d={{ description }}&b={{ batch }}"></iframe>
{% endblock %}