{% extends 'kanbanbomsapp/base.html' %}

{% block content %}
<div class="wrapper">
<div class="content-wrapper ">
<div class="mb-4"><h1 >Kanban BOMs</h1></div>

<div class="card border-primary  mb-3" style="display: none;">
  <div class="card-header bg-transparent">Request Info(Optional)</div>
  <div class="card-body ">

<form id="update_info_form" action="" class="form mb-0" style="max-width: 700px" method="post">
  {% csrf_token %}
  <div class="form-group row" >
    <label for="partno1" class=" col-sm-3 col-form-label">Requested By</label>
    <div class="col-sm-4">
      <input id="requestedby_tb" type="text" class="form-control" name="partno1" placeholder="Enter Your Name" value="{{ request.requested_by }}">
    </div>
  </div>
  <div class="form-group row" >
    <label for="partno1" class=" col-sm-3 col-form-label">Machine Number</label>
    <div class="col-sm-4">
      <input id="machine_tb" type="text" class="form-control" name="partno1" placeholder="#M10, #R12, #123, etc..." value="{{ request.machine_number }}">
    </div>
  </div>
  <div class="form-group row" >
    <label for="partno1" class=" col-sm-3 col-form-label">Notes</label>
    <div class="col-sm-4">
    	<textarea class="form-control" id="notes_tb" rows="3" value="{{ request.notes }}">{{ request.notes }}</textarea>
    </div>
  </div>

  
</form>

</div>
</div>

<div class="card border-primary mb-3" style="">
  <div class="card-header bg-transparent">BOM List</div>
  <div class="card-body ">
 
<form id="main_form" class="form" action="{% url 'edit_request_add' request.id %}" method="post">
	{% csrf_token %}
	<div class="input-group">
		<!-- WIP: Autocomplete feature -->
		<input id="partno_field" autofocus="True" autocomplete="off" type="text" class=" basicAutoComplete form-control col-sm-3  {% if partno_validation_error %} is-invalid {% endif %}" name="partno" value="{{ partno }}">
		<span class="input-group-btn ml-1">
			<input class="btn btn-primary" type="submit" value="Add" >
			<input id="find-btn" class="btn btn-secondary" type="submit" value="Find BOM">
		</span>
		<div class="invalid-feedback">{{ partno_validation_error }}</div>
	</div>
	
</form>

{% if request_entries %}
<form id="update_form" action="{% url 'update_request' request.id %}" method="post"> {% csrf_token %}</form>
<form id="print_form" action="{% url 'print_request' request.id %}" method="get" > {% csrf_token %} </form>
<form id="clear_form" action="{% url 'clear_request' request.id %}" method="get" > {% csrf_token %} </form>
<table  class="table text-nowrap table-sm">
	<thead>
	<tr>
		<th>Part Number</th>
		<th>Description</th>
		<th>Quantity</th>
	</tr>
	</thead>
	<tbody>
    {% for request_entry in request_entries %}
    	<tr>
    	<td >{{ request_entry.part.partno }}</td> 
    	<td class="text"><span >{{ request_entry.part.description }}</span></td> 
    	<td ><input class="form-control " type="number" name="{{request_entry.part.partno}}" value="{{ request_entry.quantity }}" form="update_form"></td>
    	</tr>
    {% endfor %}
    </tbody>
</table>
<input type="submit" value="Update" form="update_form" class="btn btn-secondary">
<input type="submit" value="Clear List" form="clear_form" class="btn btn-danger">
{% else %}
    <p>Scan kanban card or enter part numbers manually</p>
{% endif %}

   
  </div>

  

</div>

<input  type="submit" value="Print Preview" form="print_form" class="btn btn-primary  float-right">


</div>



<footer class="ml-2 ">
	<a class="" href="{% url 'admin:index' %}">Admin Interface</a> <a class="ml-1" href="{% url 'make_card' %}">Print Card</a>
</footer>
</div>




<!-- The Modal -->
<div id="find-modal-id" class="modal">

  <!-- Modal content -->
  <div class="modal-content modal-find">
  	<div>
  		<span class="close">&times;</span>
  		<div class="mb-4"><h2 >Find BOM</h2></div>
        <form id="filter_form" style="display: inline" class="form" >
            <input id="filter_text" style="display: inline" autofocus="True" autocomplete="off" type="text" class="form-control col-sm-3" name="partno" value="{{ partno }}">
        </form>
        
    </div>
    <div id="bom_search_results" class="mt-4 modal-results">
    	Type in a query...
    </div>
    
  </div>

</div>

<script>

// Get the modal
var modal = document.getElementById("find-modal-id");

// Get the button that opens the modal
var btn = document.getElementById("find-btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var search_results = document.getElementById("bom_search_results");

var filter_text = document.getElementById("filter_text");

var filter_form = document.getElementById("filter_form");

var partno_field = document.getElementById("partno_field");

var main_form = document.getElementById("main_form");

var requestedby_tb = document.getElementById("requestedby_tb");

var machine_tb = document.getElementById("machine_tb");

var notes_tb = document.getElementById("notes_tb");

var update_info_form = document.getElementById("update_info_form");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
  filter_text.focus();
  return false;
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onmousedown = function(event) { // changed it from click so that the modal doesn't disappear when drag/release sometimes, very annoying
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 

filter_text.oninput = function(value) {
  var oReq = new XMLHttpRequest();
  oReq.open("GET", "{% url 'edit_request_search' %}?f=" + filter_text.value);
  oReq.addEventListener("load", function(){
  	search_results.innerHTML = this.responseText;
  });
  oReq.send();
  return false;
}

filter_form.onsubmit = function(event) {
	return false;
}

search_result_clicked = function(e) {
	console.log(e.target.getAttribute('partno'))
	partno_field.value = e.target.getAttribute('partno')
	main_form.submit()
}

function send_info(value) {
	var jqxhr = $.post( 
		"{% url 'update_info' request.id %}", 
		{
			'requestedby' : requestedby_tb.value,
			'machine' : machine_tb.value,
			'notes' : notes_tb.value,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
		function(data) {
    		console.log(data);
		})
}

requestedby_tb.oninput = send_info;
notes_tb.oninput = send_info;
machine_tb.oninput = send_info;

</script>
{% endblock %}

