{% extends 'kanbanbomsapp/base.html' %}

{% block content %}

<div class="pr-wrapper">
	<div class="pr-buttons mb-4">
		<form id="back_form" action="{% url 'edit_request' request_id %}" method="get" > {% csrf_token %} </form>
		<form id="to_csv_form" action="{% url 'csv_export' request_id %}" method="get" > {% csrf_token %} </form>
		<input type="submit" value="Back" form="back_form" class="btn btn-secondary mr-1"><input type="button" onclick="window.print();" value="Print" form="print_form" class="btn btn-primary">
		<input type="submit" value="Export To CSV" form="to_csv_form" class="btn btn-secondary mr-1">

	</div>

<h1>Kitting BOM</h1>
<table class="">
	<tbody>
		<tr>
			<th class="pr-2" scope="col" style="width: auto;white-space: nowrap">Date:</th>
			<td style="width: 100%">{{ date }}</td>
		</tr>
		{% if request.requested_by %}
		<tr>
			<th class="pr-2" style="width: auto;white-space: nowrap">Requested By:</th>
			<td>{{ request.requested_by }}</td>
		</tr>
		{% endif %}
		{% if request.machine_number %}
		<tr>
			<th class="pr-2" style="width: auto;white-space: nowrap">Machine #:</th>
			<td>{{ request.machine_number }}</td>
		</tr>
		{% endif %}
		{% if request.notes %}
		<tr>
			<th class="pr-2" style="width: auto;white-space: nowrap; vertical-align:top">Notes:</th>
			<td>{{ request.notes }}</td>
		</tr>
		{% endif %}
	</tbody>

</table>

<h2 class="mt-2">Assemblies</h2>
	<table class="pr-assemblies-table">
		<tbody>
		{% for assembly in assemblies %}
    	<tr>
    		<td>x{{assembly.quantity}}</td><td>{{assembly.part.partno}}</td><td class="text"><span>{{assembly.part.description}}</span></td>
    	</tr>
    	{% endfor %}
    	</tbody>
	</table>

<h2 class="mt-2">Bill Of Materials</h2>
<table class="pr-table">
	<thead>
	<tr>
		<th>Part Number</th>
		<th>Description</th>
		<th>Location</th>
		<th>Quantity</th>
	</tr>
	</thead>
	<tbody>
	{% for part in parts %}
    <tr>
    	<td class="text"><span>{{ part.0 }}</span></td> 
    	<td class="text"><span>{{ part.1 }}</span></td> 
    	<td class="text">
    		<span> <button partno="{{ part.0 }}" onclick='location_clicked(event, "{{part.3}}")' class="btn-loc" href="">
    		{% if part.3 %}
    			{{part.3}}
    		{% else %}
    			N/A
    		{% endif %}
    		</span>
    	</td>
    	<td>{{ part.2 }}</td>
    </tr>
    {% endfor %}
	</tbody>
</table>
<div class="pr-buttons" style="font-style: italic;">
		* Click on location to edit it
</div>

</div>

<!-- The Modal -->
<div id="location-modal-id" class="modal">

  <!-- Modal content -->
  <div class="modal-content modal-location ">
  	<div>
  		<span class="close" id="close-btn">&times;</span>
  		<div class="mb-4"><h2 >Edit Location</h2></div>
        <form id="filter_form" style="display: inline" class="form" action="{% url 'edit_location' request_id %}" method="post">
        	{% csrf_token %}
            <div class="form-group">
            	<input type="hidden" id="partno-field" name="partno">
		    	<input autofocus="True" autocomplete="off"  type="text" maxlength="15" class="form-control" id="location-field" name="location" placeholder="N/A">
		    	<small id="emailHelp" class="form-text text-muted">This will be saved so you won't have to enter it ever again</small>
		  	</div>
		  	<button onclick="cancel_clicked(event)" type="button" class="btn btn-danger ">Cancel</button> <button type="submit" class="btn btn-primary">Save</button>
        </form>
        
    </div>
    
  </div>

</div>

<script type="text/javascript">
	// Get the modal
	var modal = document.getElementById("location-modal-id");
	var partno_field = document.getElementById("partno-field");
	var location_field = document.getElementById("location-field");
	var close_btn = document.getElementById("close-btn");

	function location_clicked(e, l){
		modal.style.display = "block";
		partno_field
		partno_field.value = e.target.getAttribute('partno')
		location_field.value = l;
		location_field.focus();
	}
	
	function cancel_clicked(e){
		modal.style.display = "none";
		return false;
	}

	close_btn.onclick = cancel_clicked;

</script>



{% endblock %}