{% extends 'kanbanbomsapp/base.html' %}

{% block content %}

<div class="wrapper">
<div class="content-wrapper ">
	<form id="back_form" action="{% url 'tally' %}" method="post" > {% csrf_token %} </form>
	
<div class="mb-4"><h1 >Scanning out as {{ badge }}</h1></div>

<form id="main_form" class="form" action="{% url 'scan_card' %}" method="post">
	{% csrf_token %}
	<input id="badgeid" name="badge" type="hidden" value="{{ badge }}">
	<div class="input-group">
		<!-- WIP: Autocomplete feature -->
		<input id="partno_field" autofocus="True" autocomplete="off" type="text" class=" basicAutoComplete form-control col-sm-3" name="partno" value="{{ partno }}">
		<span class="input-group-btn ml-1">
			<input class="btn btn-primary" type="submit" value="Submit" > 	<input type="submit" value="Back" form="back_form" class="btn btn-secondary mr-1">

		</span>
	</div>
	
</form>


</div>


<footer class="ml-2 ">
	<a class="" href="{% url 'tally_csv' %}">Export CSV</a>
</footer>
</div>
{% endblock %}