<table  class="table text-nowrap table-sm">
	<thead>
	<tr>
		<th>Part Number</th>
		<th>Description</th>
	
	</tr>
	</thead>
	<tbody>
    {% for response_entry in response_entries %}
    	<tr>
    		<td><button partno="{{ response_entry.partno }}" onclick="search_result_clicked(event)" class="btn btn-link p-0 m-0" href="">{{ response_entry.partno }}</button></td>
    		<td class="text"><span ><button partno="{{ response_entry.partno }}" onclick="search_result_clicked(event)" class="btn btn-link p-0 m-0" href="">{{ response_entry.description }}</button></span></td>
    	</tr>
    {% endfor %}
    </tbody>
</table>